body {
    background-image: url("/Images/happiness.jpg");    
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.bootstrap-tagsinput {
    display: block !important;
}

.homepage{
    margin-top: 15px;
    opacity: 0.8;    
}

div.panel:hover {
    opacity: 1.0;
}