body {
    background-image: url("/Images/happiness.jpg");    
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.bootstrap-tagsinput {
    display: block !important;
}

.panel {
    margin-top: 15px;    
}

.homepage {
    opacity: 0.8;
}

.homepage:hover {
    opacity: 1.0;
}

.wrapper {
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);   
    text-align:center;
}

