@{
    ViewBag.Title = "AddContent";
}

<h2>AddContent</h2>
<form  method="post" action="~/Home/AddContent">
    <input name="tags" type="text"/>
    <input name="presents" type="text"/>
    <button type="submit">Submit</button>
</form>