@{
    ViewBag.Title = "Admin4";
}

<h2>Admin Panel</h2>
<div class="list-group">
    <a href="~/Home/HelpViaFacebook" class="list-group-item">Help Via Facebook</a>
    <a href="~/Home/YourViaFacebook" class="list-group-item">Your Via Facebook</a>
</div>
