@model IEnumerable<Gifter.DataAccess.Users>

@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Important information
    </div>
    <div class="panel-body">
        Hi!
        I'm currently at <a href="https://twitter.com/hashtag/hackzurich?src=hash" target="_blank">#HackZurich</a> hackathon, and I'm developing this app. I really need your help!
        <br />
        How can you help me?

        <br />
        Just press the button bellow, fill the form and click <b>submit</b>. It will take up to 2 minutes of your time. Thank you in advance ^^
    </div>
    <div  class="panel-footer">
        <a class="btn btn-primary" href="~/Home/AddContent">Help me :P</a>
    </div>
</div>