@model IEnumerable<Gifter.DataAccess.Users>

@{
    ViewBag.Title = "Home Page";
}

<div class="panel wrapper">
    <img src="/Images/Motto.png" />
</div>

<div class="panel panel-primary homepage">
    <div class="panel-heading">
        Important information
    </div>
    <div class="panel-body">
        Hi!
        We are currently at <a href="https://twitter.com/hashtag/hackzurich?src=hash" target="_blank">#HackZurich</a> hackathon, and we are developing this app. We really need your help!
        <br />
        How can you help us?

        <br />
        Just press the button bellow, fill the form and click <b>submit</b>. It will take up to 2 minutes of your time. Thank you in advance ^^
    </div>
    <div  class="panel-footer">
        <a class="btn btn-primary" href="~/Home/YourViaFacebook">Help us :P</a>
    </div>
</div>

